*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body
{
    font-family: Raleway,sans-serif;
}

.footer_container
{
    font-size: 90%;
    color: rgb(211, 211, 211);
    line-height: 150%;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}   

.about
{
    margin : 1%;
    padding: 1%;
    width: 45%;
    height: 200px; 
}

.latest_news
{
    margin : 1%;
    padding: 1%;
    width: 40%;
    height: 200px;
}

.website_tags
{
    margin : 1%;
    padding: 1%;
    width: 15%;
    height: 200px;
}

.footer_bar_container
{
    font-size: 75%;
    /* background-color: rgb(34, 34, 34); */
    padding: 1%;
    color: rgb(211, 211, 211);
    background: #1e1e1e;
    padding: 45px 0 35px;
}

.copyright
{
    float:right;
}

.footer_bar_items
{
    margin-left: 1%;
    padding: 45px 0 35px;
}

.eklakshya
{
    color: rgb(255, 109, 56);
}

.navbar-nav {

    margin-bottom: 7px;
  
}
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1302px;
}
.navbar_item
{
    margin: 1%;
    padding-left: 3%;
}
.sticky-top{
    position: sticky

}
.navbar_contact
{
    font-size: 70%;
    float: right;
    margin-right: 2%;
    padding-top: 0.5%;
    color : rgb(255, 109, 56);
}

.contact
{
    color : rgb(41, 41, 41);
}
ol, ul {
    padding-left: 46rem;
    padding-top: 1rem;
}
ol, ul, dl {
    margin-top: 9px;
    margin-bottom: 1rem;
}
.ekl_logo
{
    width: 135px;
}

h1
{
    margin: 6%;
}

.slider_container
{
    background-color: rgb(234, 234, 234);
    text-align: center;
    margin: 1%;
    padding: 2%;
    border-radius: 9px;
}


.offerings_container
{
    background-color: rgb(234, 234, 234);
    text-align: center;
    margin: 1%;
    padding: 2%;
    border-radius: 9px;
}

.testimonials_container
{
    background-color: rgb(234, 234, 234);
    text-align: center;
    margin: 1%;
    padding: 2%;
    border-radius: 9px;
}

.about
{
    padding-left: 3%;
}